name: CI-build

on:
  push:
    branches:
      - master
      - main
      - dev
      - feature/*
      - bugfix/*
  pull_request:
    branches:
      - master
      - main
      - dev
      - feature/*
      - bugfix/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        esp_idf_version: [v5.5.1]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build firmware
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: ${{ matrix.esp_idf_version }}
          target: esp32s3

      - name: Upload firmware artifacts
        uses: actions/upload-artifact@v4
        with:
          name: waveshare-esp32s3-4g-${{ matrix.esp_idf_version }}-${{ steps.timestamp.outputs.timestamp }}
          path: |
            build/*.bin
